.link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.card {
  text-align: left;
  img {
    width: 100%;
    height: 285px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    color: black;
  }
}
