.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 285px;
  border-radius: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 8px;
  text-align: left;
}

.card p {
  font-size: 16px;
  color: black;
  text-align: left;
}
