.section {
  padding: 120px 24px;
  background-color: #f5f5f5;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 94px;
  align-items: center;
}

.content {
  img {
    width: 40px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  p {
    max-width: 520px;
    font-size: 18px;
    color: #444;
    line-height: 1.6;
  }
}

.image img {
  width: 100%;
  justify-self: end;
  border-radius: 24px;
}

/* Mobile */
@media (max-width: 768px) {
  .inner {
    grid-template-columns: 1fr;
  }
}
