.AppHeader {
  width: 100%;
  z-index: 20;

  &__Wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__Nav {
    ul {
      list-style: none;
      align-items: center;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
    }
    a {
      font-size: 16px;
      line-height: 1;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
  }
  &__Nav ul li:not(:last-child):not(:nth-last-child(2)) {
    margin-right: 20px;
  }
  &__Nav ul li:nth-last-child(1) {
    margin-left: 40px;
  }
  &__logo-link img {
    width: 40px;
    height: 40px;
  }
  .headerLanding {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .headerDefault {
    background-color: #f5f5f5;
    position: relative;
  }
}
