:root {
  /* Color */
  --color-black: #000;
  --color-white: #fff;
  --color-neutral-900: #101828;
  --color-neutral-800: #1d2939;
  --color-neutral-700: #353f4f;
  --color-neutral-600: #475467;
  --color-neutral-500: #667085;
  --color-neutral-400: #98a2b3;
  --color-neutral-300: #d0d5dd;
  --color-neutral-200: #eaecf0;
  --color-neutral-100: #f2f4f7;
  --color-neutral-50: #fafafa;
  --color-error-200: #d92d20;
  --color-error-100: #f93232;
  --color-error-50: #ffa4a3;
  --color-warning-200: #ffb82e;
  --color-warning-100: #ffe19a;
  --color-warning-50: #ecec91;
  --color-success-300: #109356;
  --color-success-200: #30ac9a;
  --color-success-50: #a6f4c5;
  --color-primary-200: #1a77b8;
  --color-primary-100: #1fa6dd;
  --color-primary-50: #28a7ff;
}
