:root {
  --font-size-5xl: 40px;
  --font-size-4xl: 34px;
  --font-size-3xl: 28px;
  --font-size-2xl: 24px;
  --font-size-xl: 22px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
}
